
ion-content{
    .grid{
        margin-top: 50%;
        ion-row{
            ion-col{
                text-align: center;
                ion-icon{
                    zoom:3.9;
                    color:lightgrey;
                }
                ion-button{
                    --background: var(--ion-color-primary);
                    --border-radius: 0px;
                    height: 30px;
                }
                h4{
                    font-size: 16px;
                    font-weight: bold;
                    margin-top: 2px;
                }
                h5{
                    font-size: 14px;
                    color: gray;
                    margin-top: 0;
                }
            }
        }
    }
    ion-grid{
        ion-card{
            color: black;
        }
    }
}
ion-footer{
    background-color:#557f5f ;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}