ion-badge {
  width: 17px;
  height: 17px;
  font-size: 11px;
  background: #6ab78a!important;
}
img {
  max-width: 50%;
}
.bag-fix {
  top: 12%;
  left: 55%;
}
[dir='rtl'] {
  ion-label b {
    letter-spacing: -1px!important;
  }
}

[dir='rtl'] {
  ion-tab-bar ion-slide {
    letter-spacing: -1px!important;
  }
  ion-tab-bar ion-label {
    letter-spacing: -1px!important;
  }
  ion-tab-bar ion-card {
    letter-spacing: -1px!important;
  }
  ion-tab-bar ion-button {
    letter-spacing: -1px!important;
  }
  ion-tab-bar ion-text {
    letter-spacing: -1px!important;
  }
}