ion-content {
    p {
        font-size: 20px;
        text-align: center;
    }
    form {
        ion-item {
            --background: var(--ion-background-color);
            ion-label {
                color: rgba(var(--ion-text-color-rgb), 0.5);
            }
        }
    }
}
